<h2>Portfolio</h2>
<div class="container">
    {{#each portfolio}}
        <div class="row">
            <div class="col-sm-6">
                <a href="{{url}}" class="text-white">
                    {{projectName}}
                </a>
            </div>
        </div>
    {{/each}}
</div>