* {
	font-family: "Georgia", Times, serif;
}

body,
html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.bgimg-1 {
	background-image: url("../images/background.jpg");
	min-height: 100%;
}

.bgimg-2 {
	background-image: url("../images/typing.jpg");
	min-height: 400px;
}

.bgimg-3 {
	background-image: url("../images/portfolio-background.jpg");
	min-height: 100%;
}

.bgimg-4 {
	background-image: url("../images/full-desk.jpg");
	min-height: 100%;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

h3 {
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	font: 32px "Lato", sans-serif;
	color: #111;
}

h1 {
	background-color: transparent;
}

li {
	color: white
}

.education {
	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
	text-align: justify;
}

.redirect-view {
    background-image: url('/images/man-in-red-jacket-standing-outside-of-cave-in-front-of-three-949193.jpg');

	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.redirect-mask {
    height: 100%;
}

.redirect-mask {
    justify-content: center;
    align-items: center;
}

.intro-2 {
    background-color: white;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
html,
body,
header,
.view {
    height: 100%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

	.bgimg-1,
	.bgimg-2,
	.bgimg-3 {
		background-attachment: scroll;
	}
}

@media (max-width: 740px) {
	.redirect-mask {
        justify-content: center;
        align-items: flex-start;
    }
    .redirect-row {
        margin-top: 200px;
    }
}